<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>

<body>
  <div class="page-container">
    <div class="content-wrap">
      <%- include('./includes/navbar.ejs') %>
      <section class="admin-header">
        <div class="container">
          <div class="logo">
            <h1>John's <span class="yellow">Blog</span>- <span class="chinese-font">管理後台<span></h1>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="menu">
          <div class="card">
            <div class="card-content">
              <a class="admin-btn" href="/create_post">新增文章</a>
              <a class="admin-btn" href="/posts">管理文章</a>
              <a class="admin-btn" href="/topics">管理類別</a>
            </div>
          </div>
        </div>

          <div class="action">
            <h1 class="page-title">新增/編輯 類別</h1>
            <form method="post" action="/update_topic/<%= topicId %> ">
              <% if (errorMessage.length) { %>
                <div class="message error validation_errors"><%= errorMessage %></div>
              <% } %>
              <input type="text" name="topic_name" value="<%= topic_name %> " placeholder="類別名稱">
              <button type="submit" class="login-btn">更新</button>
            </form>
          </div>

        
        <div class="table-box">
          <table class="users">
            <thead>
              <th>ID</th>
              <th>類別名稱</th>
              <th>編輯</th>
              <th>刪除</th>
            </thead>
            <tbody>
              <% if(allTopics.length) { allTopics.forEach((topic) => { %> 
                <tr>
                  <td><%= topic.id %> </td>
                  <td><%= topic.name %></td>
                  <td>
                    <a class="fa fa-pencil btn edit" href="/edit_topic/<%= topic.id %>">
                    </a>
                  </td>
                  <td>
                    <a class="fa fa-trash btn delete" href="/delete_topic/<%= topic.id %>">
                    </a>
                  </td>
                </tr>
              <% } ) } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('./admin_includes/admin_footer.ejs') %>
  </div>
</body>

</html>