<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/mobile.css" />
  <link rel="stylesheet" href="/css/items.css" />
  <script src="https://kit.fontawesome.com/2e55deee48.js" crossorigin="anonymous"></script>
  <title>咬一口廚房</title>
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <div class="container">
        <header id="header-home">
          <nav id="main-nav">
            <h1>
              <a href="/admin" class="logo">Just A Bite! 抽獎管理頁面</a>
            </h1>
            <ul>
              <li><a href="/game">抽獎頁面</a></li>
              <li><a href="/admin">獎項列表</a></li>
              <li><a href="/items">管理獎項</a></li>
              <li><a href="/product">管理商品</a></li>
              <li><a href="/admin_faq" class="active">管理常見問題</a></li>
              <li><a href="/logout">登出</a></li>
            </ul>
          </nav>
        </header>

        <section class="items center" style="width: 70%">
          <% if (errorMessage.length) { %>
          <div class="message error validation_errors">
            <p><%= errorMessage %></p>
          </div>
          <% }%>
          <div>
            <h1>編輯常見問題</h1>
            <p>
              更新方式:
              <br />
              直接在輸入框更改內容，
              <br />
              改完後，按下送出即更新該筆內容。
              <br>
              注意: 順序以數字表示。
            </p>
          </div>
          <table class="authority">
            <tbody>
              <tr>
                <th>標題</th>
                <th>內容</th>
                <th>順序</th>
              </tr>
              <% if(faqs.length) { %> <% faqs.forEach((faq, i) =>
                { %>
              <form id="add_role_form<%=i%>" action="/handleUpdateFaq" method="POST"></form>
              <tr>
                <input type="hidden" name="faq_id" form="add_role_form<%=i%>" value="<%= faq.id %>" />
                <td>
                  <input required="" class="input-role" name="faq_title" type="text" form="add_role_form<%=i%>"
                    value="<%= faq.faq_title %>" />
                </td>
                <td>
                  <textarea required="" class="input-role" name="faq_content" type="text" form="add_role_form<%=i%>"
                    rows="4" cols="50"><%= faq.faq_content %></textarea>
                </td>
                <td>
                  <input required="" class="input-role" name="faq_order" type="text" form="add_role_form<%=i%>"
                    value="<%= faq.faq_order %>" />
                  <button class="admin-btn add_role_btn" form="add_role_form<%=i%>">
                    送出
                  </button>
                  <a href="/handleDeleteFaq/<%= faq.id%>"><button class="admin-btn add_role_btn delete">
                      刪除
                    </button>
                  </a>
                </td>
              </tr>
              <% }) %> <% }%>
            </tbody>
          </table>

          <div>
            <h1>新增常見問題</h1>
            <p>填完內容按下送出即可</p>
          </div>
          <table class="authority">
            <tbody>
              <tr>
                <th>標題</th>
                <th>內容</th>
                <th>順序</th>
              </tr>
              <form id="create-faq" action="/handleCreateFaq" method="POST"></form>
              <tr>
                <td>
                  <input required="" class="input-role" name="faq_title" type="text" form="create-faq" />
                </td>
                <td>
                  <textarea required="" class="input-role" name="faq_content" type="text" form="create-faq" rows="4"
                    cols="50"></textarea>
                </td>
                <td>
                  <input required="" class="input-role" name="faq_order" type="text" form="create-faq" />
                  <button class="admin-btn add_role_btn" form="create-faq">
                    送出
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
        <div class="footer">
          <section id="home-e">
            <ul>
              <li>餐館地址: 天上地下天堂路三分之一里六段520號</li>
              <li>訂位專線：02-1314-5566</li>
              <li>
                營業時間：週一〜週五 09:00~18:00 /
                週六、週日、國定假日（含連假）休息
              </li>
              <li>email：service@justabite.com.tw</li>
            </ul>
            <div class="media">
              <div class="logo">Just A Bite!</div>
              <div class="medias">
                <a href="#">Facebook</a>
                /
                <a href="#">Instagram</a>
                /
                <a href="#">Youtube</a>
              </div>
            </div>
          </section>

          <footer>
            Copyright © 2020 Just A Bite All Rights Reserved.
            咬一口股份有限公司版權所有
          </footer>
        </div>
      </div>
    </div>
  </div>
</body>

</html>